doctype html
html
    head
        title 筋斗云 - 翻个筋斗就能享受来自：微信、今日头条、百度、搜狗、神马等平台的云服务
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='shortcut icon', href='/favicon.ico')
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="keywords",content="筋斗云新闻，筋斗云搜索，翻个筋斗，搜索一下")
        meta(name="description",content="翻个筋斗就能享受到来自：今日头条、微信、百度、搜狗、神马等搜索的云新闻、云文章服务")
        meta(charset="utf-8")
        link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
        script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
  body
      block content
